body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.container {
    width: 50%;
    margin: 0 auto;
}
.form-grub {
    margin-bottom: 15px;
}
.form-grub .inp-form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.hig {
    margin-bottom: 22px;
}
.form-grub .form-title {
    margin-bottom: 10px;
}
.form-grub .submit {
    width: 80%;
    background-color: rgb(15, 67, 92);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-grub .button {
    width: 600;
    background-color: rgb(63, 141, 60);
    padding: 14px 20px;
    border-radius: 4px;
    color: #fff;
    border: none;
    margin-right: 50px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.form-grub .button:hover {
    background-color: rgb(60, 207, 55);
}
.form-grub .submit:hover {
    background-color: #1b84da;
}
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 800px;
}
.index {
    margin: 0;
}
.container-index {
    display: flex;
    flex-direction: column;
}
nav img {
    width: 100px;
    height: auto;
    margin-left: 90px;
}
nav {
    position: fixed;
    width: 100%;
    background-color: rgb(15, 67, 92);
    display: flex;
    padding: 1px 60px;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-right: 100px;
    padding-right: 150px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li a:hover {
    opacity: 0.5;
}  
nav ul li {
    padding: 5px 25px ;
}
.banner {
    /* Menyesuaikan tampilan carousel */
    width: 100%; /* Mengisi lebar penuh */
    margin-top: 100px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%; /* Mengisi lebar penuh */
}

.slide img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: center;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    z-index: 2;
}
.carousel-button:hover {
    background-color: rgb(15, 67, 92);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
#about {
    margin-top: 50px;
}
.title-me h1, p {
    text-align: center;
    color: rgb(15, 67, 92);
    margin-bottom: 0;
}
.about-me {
    display: flex;
    padding: 5px 100px;
    margin-top: 70px;
}
.about-me img {
    width: 100%;
    height: 300px;
    margin-top: 50px;
}
.me {
    text-align: center;
    margin-right: 70px;
    border: 5px solid rgb(15, 67, 92) ;
    padding: 20px 60px;
}
.me p {
    text-align: left;
}
.me ul li {
    list-style-type: number;
    text-align: left;
}
.footer{
    margin-top: 80px;
    background-color: rgb(27, 74, 95);
    display: flex;
    padding: 1px 60px;
    align-items: center;
    justify-content: center;
}
.footer p {
    color: #fff;
    text-align: center;
    padding: 10px;
}